@media screen and (max-width:576px) {
    * {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        /*!*justify-content: center;*!need to center align?*/
        margin: 0;
        padding: 0;
    }
    title {
        display: none;
    }

    div.alert-info {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    div a {
        text-decoration: none;
        padding: 1em;
        background-color: lightcyan;
        color: black;
        margin: 0 10%;
        text-align: center;
        border: black solid 1px;
    }

    h1 {
        padding: 2px 0;
        font-size: 50px;
        text-align: center;
    }

    ul.nav-links {
        width: calc(80% + 2px);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1em;
        margin: 0 10%;
        text-align: center;
        justify-content: space-evenly;
        align-items: space-evenly;
    }

    .nav-links li{
        margin: .5em;
    }

    li a {
        text-align: center;
        background-color: lightgrey;
        padding: 1em;
    }
    img {
        width: 100%;
    }
    div.header-img {
        display: flex;
        margin: 0 13%;
        padding: 0 10px;
        justify-content: center;
        width: calc(80% - 25px)
    }
    section {
        padding: 10px 0;
        margin: 0 auto;
        width: calc(80% - 35px);
    }

    footer {
    width: 100%;
    }
}
     ul:nth-of-type(2) {
        display: flex;
}
@media only screen and (min-width: 575px){
    * {
        box-sizing: border-box;
        margin: 0 10px;
        padding: 0;
    }
    div.alert-info {
        display: none;
    }
    h1{
        box-sizing: content-box;
        float: left;
        max-height: 8em;
        margin: 36px auto;
        font-size: 3em;
        width: 65%;
    }

    nav {
        float: right;
        width: 35%;
        display: flex;
        align-items: center;
        min-height: 55px;
        margin: 36px 0;

    }

    .header-img {
        clear: both;
    }
    ul{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul.nav-links {
        margin: auto;
    }
    li a {
        padding: 1em;
        margin: auto;
    }
    .header-img {
        margin: 0;
        display: flex;
        justify-content: center;
    }
    img {
        margin: 0;
        width: 100%;
    }
    .main {
        float: left;
        width: 60%;

    }
    .sub-section {
        float: right;
        width: 40%;
    }
    p {
        text-align: center;
    }
}